@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kumbh+Sans:wght@400;700&display=swap");

root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --dark-gray: hsl(227, 10%, 46%);
  --gray: hsl(0, 0%, 59%);
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background-color: #19a1ae;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.profile-card {
  width: 326px;
  height: 374px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.58);
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

.profile-header {
  height: 140px;
  flex-shrink: 0;
  /* justify-self: flex-start; */
  background-color: #41cbd3;
  background-image: url("./images/bg-pattern-card.svg");
  border-radius: 15px 15px 0px 0px;
}

.profile-picture {
  transform: translateY(-50%);
  border-radius: 50%;
  border: 5px solid #fff;
  width: 96px;
  height: 96px;
  flex-shrink: 0;
  align-self: center;
}

h1 {
  font-size: 18px;
  color: #2e3349;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: inline-block;
}

.profile-info {
  text-align: center;
  align-self: center;
}

.profile-stats {
  border-top: 1px solid #ebe9ec;
  display: flex;
  height: 88px;
  justify-content: space-evenly;
  padding: 24px;
}

.profile-stats h3 {
  display: inline-block;
}

.profile-stats span {
  display: block;
  color: #6b7082;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}

.bg-circle {
  width: 978px;
  height: 976px;

  border-radius: 978px;
  opacity: 0.5;
  background: linear-gradient(180deg, rgba(9, 137, 180, 0) 0%, #53ffee 99.94%);
  position: absolute;
  z-index: -1;
}

.upper-circle {
  top: -50%;
  left: -33%;
  transform: rotate(-135deg);
}

.lower-circle {
  bottom: -60%;
  right: -33%;
  border-radius: 978px;
  opacity: 0.25;
  background: linear-gradient(180deg, rgba(9, 137, 180, 0) 0%, #53ffee 99.94%);
}
